
table.posting-param-editable-table {
  td {
    padding:5px;
    background-color:#eaeaea;
    div.form-group {
      margin-bottom:0px;
    }
  }
  tr.editable-table-item {
    td {
      background-color:#f9f9f9;
    }
  }
}