body {
  &.white-background {
    background-color: $secondary-bg;
  }
}
* {
  &.no-padding {
    padding:0 !important;
  }
}

pre {
	&.updated {
		border-radius:0px !important;
		border:unset;
		padding:20px;
	}
	&.dark {
		background-color:#333333;
		color:#ffffff;
		white-space:normal;
		font-weight:600;
	}
}